<ScrollView height="100%">
    <ActionBar title="" actionBarHidden="true" style="background-color: black;"></ActionBar>
    <GridLayout columns="*" rows="*, *, *, *, *, *, *" style="background-color: black;">
        <ActivityIndicator rowSpan="7" color="red" [busy]="onProccess" width="100" height="100"></ActivityIndicator>
        <GridLayout class="m-t-25" row="2" rowspan="2">
            <Image src="https://patrikfreisner.github.io/primum_mainpage/white_logo.png" class="action-image m-r-5"
                width="200" height="200"></Image>
        </GridLayout>

        <StackLayout row="4">
            <Label class="h3" textAlignment="center" text="Bem vindo ao registro de novos usuarios Primum!"
                style="color: white;"></Label>
        </StackLayout>
        <!-- <GridLayout class="loginInput" row="5" rowspan="2" rows="*, *, *, *, *, *, *">
            <TextField class="m-15" row="1" rowSpan="2" hint="Digite o Login" autocorrect="false" lineHeight="25" keyboardType="email" [text]='name'></TextField>
            <TextField class="m-15" row="3" rowSpan="2" hint="Digite sua senha" secure="true" [text]='name'></TextField>
            <button class="-default" row="5" rowSpan="2" text="Login" (tap)="sendLogin()"></button>
        </GridLayout>
        <GridLayout row="9">
            <label text="Primum Tecnologia - 2020" style="color: white;"></label>
        </GridLayout> -->
        <StackLayout [formGroup]="userform" class="form loginInput" row="5" rowspan="2">
            <StackLayout class="input-field m-t-15">
                <TextField class="input" hint="Digite seu email" autocorrect="false" lineHeight="25"
                    keyboardType="email"
                    [class.hasError]="userform.get('email').errors && userform.get('email').touched"
                    [class.hasSuccess]="userform.get('email').valid" formControlName="email">
                </TextField>
            </StackLayout>
            <StackLayout class="input-field m-t-15">
                <Label style="margin-left: 5%;"
                    *ngIf="userform.get('password').hasError('minlength') && !userform.get('password').hasError('required') && userform.get('password').touched"
                    text="Deve conter mais de 8 caracteres!!"></Label>
                <TextField class="input" hint="Digite sua senha" secure="true" formControlName="password"
                    [class.hasError]="userform.get('password').errors && userform.get('password').touched"
                    [class.hasSuccess]="userform.get('password').valid" required>
                </TextField>
            </StackLayout>
            <StackLayout class="input-field m-t-15">
                <Label style="margin-left: 5%;"
                    *ngIf="userform.get('confirmpassword').hasError('mismatch') && userform.get('confirmpassword').touched"
                    text="Senhas não conferem!"></Label>
                <TextField class="input" hint="Confirme sua senha" secure="true" formControlName="confirmpassword"
                    [class.hasError]="(userform.get('confirmpassword').errors || userform.get('confirmpassword').hasError('required')) && userform.get('confirmpassword').touched"
                    [class.hasSuccess]="(userform.get('confirmpassword').valid && !userform.get('confirmpassword').hasError('required')) && userform.get('confirmpassword').touched"
                    required>
                </TextField>
            </StackLayout>
            <StackLayout class="input-field m-t-15">
                <TextField class="input" hint="Digite seu nome" autocorrect="true" formControlName="name"
                    [class.hasError]="userform.get('name').errors && userform.get('name').touched"
                    [class.hasSuccess]="userform.get('name').valid" required>
                </TextField>
            </StackLayout>
            <StackLayout class="input-field m-t-15">
                <TextField class="input" hint="Digite seu nome de usuario Primum!" autocorrect="false"
                    formControlName="nickname"
                    [class.hasError]="userform.get('nickname').errors && userform.get('nickname').touched"
                    [class.hasSuccess]="userform.get('nickname').valid" required></TextField>
            </StackLayout>
            <Button text="Registrar" (tap)="signUpUser()" isEnabled="{{userform.valid || !submitted}}"
                class="btn btn-primary"></Button>
        </StackLayout>
    </GridLayout>
</ScrollView>