<!-- 
    TESTAR VIA CEP PARA COLETAR INFORMAÇÕES DO CEP -- https://viacep.com.br/ws/89265750/json/?callback=cep
    OU ENTÃO USAR O NATIVESCRIPT-GEOLOCATION -- https://github.com/NativeScript/nativescript-geolocation
 -->

<ActionBar id="MainActionBar" title="PrimumServices" class="p-t-1 p-b-1">
    <StackLayout orientation="horizontal">
        <Image src="https://patrikfreisner.github.io/primum_mainpage/white_logo.png" class="action-image m-r-5"
            width="25" height="25"></Image>
        <!-- <Label id="MainLabelId" text="PrimumServices!" class="h3"></Label> -->
    </StackLayout>
</ActionBar>
<StackLayout style="background-color: black;">
    <StackLayout>
        <Label class="h2" textAlignment="center" text="Olá Patrik Reisner." style="color: white;"></Label>
    </StackLayout>
    <StackLayout>
        <Label class="h3" text="Nós precisamos de mais algumas informações..." textWrap="true"
            style="color: white; text-align: center;"></Label>
        <Label class="h3" text="Só mais um pouquinho e tudo vai estar certinho! :)" textWrap="true"
            style="color: white; text-align: center;"></Label>
    </StackLayout>
    <StackLayout [formGroup]="customerForm" class="form loginInput" height="60%">
        <TabView [selectedIndex]="tabSelectedIndex" tabBackgroundColor="black" tabTextColor="white"
            selectedTabTextColor="red">
            <StackLayout *tabItem="{title: 'Dados do Cliente'}">
                <StackLayout class="input-field m-t-15">
                    <TextField class="input" hint="Qual sua data de aniversário?" autocorrect="false" lineHeight="25"
                        keyboardType="datetime" formControlName="birthdate">
                    </TextField>
                </StackLayout>
                <StackLayout class="input-field m-t-15">
                    <TextField class="input" hint="Nos informe qual gênero você se identifica?" autocorrect="false"
                        lineHeight="25" formControlName="gender">
                    </TextField>
                </StackLayout>
                <StackLayout class="input-field m-t-15">
                    <TextField class="input" hint="Seu CPF?" autocorrect="false" lineHeight="25" keyboardType="phone"
                        formControlName="personal_number">
                    </TextField>
                </StackLayout>
                <StackLayout class="input-field m-t-15">
                    <TextField class="input" hint="Seu número de telefone?" autocorrect="false" lineHeight="25"
                        keyboardType="phone" formControlName="phone">
                    </TextField>
                </StackLayout>
            </StackLayout>
            <StackLayout *tabItem="{title: 'Endereço'}">
                <StackLayout formGroupName="address">
                    <StackLayout class="input-field m-t-15">
                        <TextField class="input" hint="CEP" autocorrect="false" lineHeight="25"
                            formControlName="zip_code">
                        </TextField>
                    </StackLayout>
                    <StackLayout class="input-field m-t-15">
                        <TextField class="input" hint="País" autocorrect="false" lineHeight="25"
                            formControlName="country">
                        </TextField>
                    </StackLayout>
                    <StackLayout class="input-field m-t-15">
                        <TextField class="input" hint="Cidade" autocorrect="false" lineHeight="25"
                            formControlName="city">
                        </TextField>
                    </StackLayout>
                    <StackLayout class="input-field m-t-15">
                        <TextField class="input" hint="Estado" autocorrect="false" lineHeight="25"
                            formControlName="state">
                        </TextField>
                    </StackLayout>
                    <StackLayout class="input-field m-t-15">
                        <TextField class="input" hint="Bairro e Rua onde mora" autocorrect="false" lineHeight="25"
                            formControlName="street">
                        </TextField>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </TabView>
    </StackLayout>
    <StackLayout>
        <Button [text]="registerButtonText" (tap)="signUpUserInfo()" class="btn btn-primary"></Button>
    </StackLayout>
    <StackLayout (tap)="dontRegister()" class="p-5">
        <Label class="h3 m-t-5" text="Não quero me registrar agora!" style="color: white; text-align: center;"></Label>
    </StackLayout>
</StackLayout>